* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  background-color: #eef1ff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  padding: 1rem;
  border-radius: 5px;
  background-color: #aac4ff;
}
.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #d2daff;
}

.addPost {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  height: 30%;
}
#description {
  resize: none;
}
label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
input {
  border: none;
  margin-bottom: 1rem;
  padding: 1rem 2.5rem;
  border-radius: 5px;
}
textarea {
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 5px;
}
input:focus,
textarea:focus {
  outline: 2px solid #a1b1fa;
}

.posts-related {
  background-color: #d2daff;
  height: 60%;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.posts {
  flex-grow: 1;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-radius: 5px;
  padding: 1rem;
  transition: all 1s;
}
.post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  background-color: #b1b2ff;
  max-height: 50%;
  gap: 1rem;
  margin-bottom: 1rem;
  transition: all 1s;
}
.post:hover {
  transform: scale(1.01);
}
.post-title {
  font-family: monospace;
  text-transform: uppercase;
}
.post-description {
  font-size: 1.5rem;
  flex-grow: 1;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 1s;
}
.btn:hover {
  box-shadow: none;
}
.btn-fetch {
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 1rem 2.5rem;
  background-color: #aef5ae;
  align-self: flex-start;
}

.btn-fetch:hover {
  background-color: #0f0;
}
.btn-delete {
  padding: 0.5rem 1.5rem;

  background-color: #f7a9a4;
  align-self: flex-start;
}

.btn-delete:hover {
  background-color: #f00;
}

.btn-add {
  margin-top: 1rem;
  padding: 1rem 2.5rem;
  background-color: #9acdf7;
  align-self: flex-start;
}

.btn-add:hover {
  background-color: #3aa4fc;
}
